body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #464543;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 50px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.user-icon img {
    height: 30px;
}

/* Ícono del carrito de compra */
.cart-icon {
    position: absolute;
    top: 90px;
    right: 25px;

}

.cart-icon img {
    height: 30px;
}

/* Filtro del catálogo */
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4 ;
    border-right: 1px solid #ccc;
    position: fixed; /* Mantiene el filtro estático mientras se desplaza por la página */
    top: 80px; /* Coloca el filtro justo debajo de la barra de navegación */
    left: 0;
    height: 50%;
    box-sizing: border-box;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

/* Sección de productos */
.products {
    margin-left: 220px; /* Desplazar los productos a la derecha del filtro */
    padding: 100px;
    background-color: #ffffffa6;
}

.products h2 {
    margin-top: 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: #9c9898;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    margin: 10px 0;
}

/* Pie de página */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
